<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a>
                            <img class="img" src="./assets/img/faces/Shreyans_Photo.jpeg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">Software Engineer</h6>
                        <h4 class="card-title">Shreyans Jain</h4>
                        <p class="card-description">
                            I am an enthusiastic and reliable Java Developer with a strong knowledge base of Spring
                            framework and Rest architecture.<br>
                            I am also Proficient in technologies such as Spring Boot,Spring MVC,Spring Security,Hibernate,Angular,RESTful WebServices. Web Services, MySQL, Sql Server, 
                            Microservices,Angular,Data Structure and Algorithms.<br>
                            I am passionate about coding and I always strive to create efficient and robust applications that meet the
                            client's requirements.
                        </p>
                        <a href="mailto:jainshreyans251@gmail.com" target="_blank">
                            <img  style="height: 52px;" class="img" src="./assets/img/icone-gmail-logo-png-bleue.png" />
                        </a>
                        <a href="https://www.linkedin.com/in/shreyans-jain-5342bb171/" target="_blank">
                            <img  style="height: 45px;" class="img" src="./assets/img/icone-linkedin-ronde-bleue.png" />
                        </a>
                        <a href="https://github.com/ShreyansJain24" target="_blank">
                            <img  style="height: 40px;" class="img" src="./assets/img/github.png" />
                        </a>
                        <a class="btn btn-info btn-round" (click)="downloadPdf()">Get Resume</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>